@font-face {
    font-family: "Montserrat-Light";
    src: local("Montserrat-Light"),
    url("~@/assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}


@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"),
    url("~@/assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Semibold";
    src: local("Montserrat-Semibold"),
    url("~@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium"),
    url("~@/assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
