*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.horizontal-centered {
    margin: 0 auto!important;
}

.con-form .vs-input-content .vs-input, .vs-select{
      width: 100%;
      font-size: 16px;
      
}
.con-form .vs-input-content {
    margin: 10px 0px;
    width: calc(100%);
  }

  .vs-select-content {
      max-width: 10000px!important;
  }

  .vs-card__text {
      width: 100%;
  }