@import "./fonts";

$font-light:"Montserrat-Light",Arial, Helvetica, sans-serif;
$font-bold:"Montserrat-Bold",Arial, Helvetica, sans-serif;
$font-semibold:"Montserrat-Semibold",Arial, Helvetica, sans-serif;
$color-red:red;